div {
  &.levi.tekst {
    float: left;
  }
  &.desna.slika {
    float: right;
  }
}

.bg2 {
  background-image: url('../img/mala_slika2.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bg3 {
  background-image: url('../img/mala_slika3.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}